:root{
 --primary-color: #52718d;
 --secondary-color: #d0a560;
 --tertiary-color: black;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Square-Peg';
  src: url('../src/assets/fonts/SquarePeg-Regular.ttf');
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 25px;
}

header h1 {
  display:grid;
  justify-content: space-around;
  font-family: Square-Peg;
  font-size: 5em;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  width: 90%
}

h1 { font-family: Square-Peg;
  font-size: 2em;
  text-align: center;
  margin-left: 5px;
}

li {
  list-style: none;
}

.nav-item:link {
  color: var(black);
}

.nav-item:link:hover{
  opacity: 50%;
}

.nav-link:active {
  color: var(--secondary-color)
}

.nav-tabs{
    display: flex;
    justify-content: space-evenly;
    margin: .5em 0 .5em 0;
}

section .about-me{
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.about-you{
  text-align: center;
}

#contact-section {
  display:flex;
  padding: 10px;
  justify-content: center;
  flex-direction:column;
  font-family: square-peg;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
}

input{
 background-color: #d0a560;
 opacity: 50%;
 padding: 10px;
 font-size: 1;
 height: 1.5em;
}

label{
  font-size: 1em;
  margin-top: 5px;
  padding: 10px;
  justify-content: space-around;
}

textarea{
  background-color: #52718d;
  opacity: 25%;
  height: 8em;
}

.error-text{
  font-family: square-peg;
  color:var(--primary-color);
}

.form-input{
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin: 1em;
}

button {
  line-height: 2em;
}